@import "./../../../../styles.scss";

.results {
  @include displayFlex(column, center, center);
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba($white, 0.9);
  width: 100%;
  height: 100%;
}

.results__image {
  width: toRem(400);
}

.results__sign {
  margin-top: 15px;
  font-size: toRem(26);
  color: $flamingo;
}
