@import "./../../../../styles.scss";

.navigation-button {
  background: none;
  border: none;
  cursor: pointer;
}

.navigation-button__line {
  width: 25px;
  height: 3px;
  content: "";
  background-color: $orange;
  margin-bottom: 5px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(-50%);
  z-index: 2;
  height: 100%;
  width: 25%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav__close-button-container {
  text-align: end;
}

.nav__close-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  svg {
    width: 20px;
    height: 20px;
  }
}

.nav__categories {
  @include displayFlex(column, center, center);
  list-style: none;
  color: $flamingo;
  font-weight: 600;
  text-transform: uppercase;
  li {
    margin-top: 5px;
    &:first-of-type {
      margin-top: 0;
    }
  }
}
