@import "./../../../../styles.scss";

.main__title {
  font-size: 1.7rem;
  color: $flamingo;
}

.main__subtitle {
  font-size: 1.2rem;
  color: $orange;
  font-weight: 500;
}

.category-link {
  text-decoration: none;
}
