@import "./../styles.scss";

.tint {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  background-color: rgba($color: $black, $alpha: 0.15);
}

.tint.overflow-enabled {
  overflow-y: auto;
}

.tint.overflow-disabled {
  overflow-y: hidden;
}

.temporary-div {
  //@todo
  margin-top: 50px;
}
