@import "./../styles.scss";

// .bg-particle {
//   position: absolute;
//   z-index: -1;
//   max-width: 550px;
//   overflow: hidden;

//   &._first {
//     left: -180px;
//     top: 300px;
//     transform: rotate(2deg);
//   }

//   &._second {
//     right: -140px;
//     top: -150px;
//     transform: rotate(37deg);
//   }

//   &._third {
//     right: -230px;
//     top: 850px;
//     transform: rotate(37deg);
//   }
// }

.tint {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  background-color: rgba($color: $black, $alpha: 0.15);
}

.temporary-div {
  margin-top: 50px;
}
