<div class="root" [style.overflow-y]="pageIsTinted ? 'hidden' : 'auto'">
  <div class="tint" [@goTinted]="pageIsTinted ? 'move' : 'stay'"></div>
  <app-header></app-header>
  <app-main-section></app-main-section>
  <!-- <img class="bg-particle _first" src="./../assets/images/post-1.png" alt="" />
  <img class="bg-particle _second" src="./../assets/images/post-1.png" alt="" />
  <img class="bg-particle _third" src="./../assets/images/post-1.png" alt="" /> -->
  <div class="temporary-div"></div>
</div>
