@import "./../../../../styles.scss";

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-button__line {
  width: 25px;
  height: 3px;
  content: "";
  background-color: $orange;
  margin-bottom: 5px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
