@import "./../../../styles.scss";

.main__title {
  font-size: 1.2rem;
  color: $flamingo;
}

.main__subtitle {
  font-size: 0.8rem;
  color: $orange;
  font-weight: 500;
}

.main__cards {
  margin-top: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/*  Extra large screens, TV */
@media (min-width: 1201px) {
}

/* Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
}

/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .main__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .main__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  .main__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*smallest*/
@media (max-width: 319px) {
  .main__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
