<main class="content-wrapper">
  <h1 class="main__title">Hey, let's learn English!</h1>
  <h2 class="main__subtitle">Choose one of categories to begin.</h2>
  <div class="main__cards">
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
  </div>
</main>
