<h2
  class="category-title"
  [ngStyle]="{ fontSize: gameState ? '1.7rem' : '1.5rem' }"
>
  {{ categoryWords.categoryName }} category.
  {{ gameState ? "Show your skill!" : "Feel free to practice!" }}
</h2>
<div class="game-elements">
  <button
    class="game-elements__gamestart-btn"
    [ngStyle]="{
      height: gameState ? '40px' : '0px',
      fontSize: gameState ? '0.9rem' : '0rem',
      opacity: gameState ? '1' : '0'
    }"
    (click)="startGameRound()"
  >
    Start game
  </button>
</div>
<div class="cards-grid">
  <app-word-card
    [categoryWords]="categoryWords"
    [gameState]="gameState"
    [roundState]="roundState"
    *ngFor="let word of categoryWords.englishWords; let i = index"
    [wordCounter]="i"
    [rightAnswersArray]="rightAnswersArray"
  ></app-word-card>
</div>
<div class="game-elements__answers" *ngIf="gameState" [@inOutAnimation]>
  <p class="game-elements__mistakes-sign">Mistakes</p>
  <div class="game-elements__mistakes">
    <object
      class="game-elements__mistake"
      *ngFor="let mistake of mistakesArray; let j = index"
      data="assets/images/incorrect.svg"
    ></object>
  </div>
  <p class="game-elements__corrects-sign">Corrects</p>
  <div class="game-elements__corrects">
    <object
      class="game-elements__correct"
      *ngFor="let rightAnswer of rightAnswersArray"
      data="assets/images/correct.svg"
    ></object>
  </div>
</div>
<app-results-screen
  *ngIf="resultsAreShown"
  [mistakesArray]="mistakesArray"
  [@inOutAnimation]
></app-results-screen>
