//colors
$white: #f7f3f2ff;
$black: #272838ff;
$orange: #ffbb7b;
$flamingo: #ff9690;
$magenta: #ff54b5;

$green: #00a676ff;
$blue: #1e91d6ff;
$red: #ff6663ff;

//media queries
$largestMinWidth: 1300px;
$largestMaxWidth: 1669px;

$largeMinWidth: 1201px;
$largeMaxWidth: 1299px;

$desktopMinWidth: 1025px;
$desktopMaxWidth: 1200px;

$smallMinWidth: 769px;
$smallMaxWidth: 1024px;

$tabletsMinWidth: 481px;
$tabletsMaxWidth: 768px;

$mobilesMinWidth: 320px;
$mobilesMaxWidth: 480px;

$smallestDevicesWidth: 319px;
